/* Fix spacing between nav items */
.nav ul {
    gap: var(--spacing_24); /* Use spacing variable */

}
header{
    margin-top: 64px;
}

.hamburger-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--color_light_orange);
}

@media (max-width: 991px) {
    nav ul li{
        display: none;
    }
    
    .hamburger-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Main section */
.hero-right-panel{
    margin-top: 325px;
}

.hero-right-panel h1{
    font-size: var(--text_size_70);
    margin-right: -120px;
    /* width: 544px;
    height: 144px; */
    line-height: var(--line_height_72);
    z-index: 1;
}

.hero-right-panel p{
    font-size: var(--text_size_16);
    font-family: var(--font_secondary);
    margin-top: 69px;
    margin-bottom: 18px;
    /* width: 376px;
    height: 115px; */
    line-height: var(--line_height_29);
}

.hero-right-panel a {
    margin
}

.hero-left-panel {
    margin-top: 196px;
}

@media screen and (max-width: 991px) {
    .hero-right-panel h1 {
        font-size: var(--text_size_50);
        margin-right: 0;
        line-height: var(--line_height_58);
    }

    .hero-right-panel p {
        font-size: var(--text_size_16);
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: var(--line_height_29);
    }

    .hero-left-panel {
        margin-top: 0;
    }
    
}

@media screen and (max-width: 767px) {
    .header .container-default {
        flex-direction: column;
        align-items: center;
    }
    .header .container-default .logo {
        margin-bottom: 20px;
    }
    .hero-right-panel h1 {
        font-size: var(--text_size_40); 
        margin-right: 0;
        line-height: var(--line_height_50);
    }

    .hero-right-panel p {
        font-size: var(--text_size_16);
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: var(--line_height_29);
    }
    
    .hero-left-panel {
        margin-top: 0;
    }
    
}

/* Footer Section */
.footer-top {
    position: relative;
    margin-top: 50px;
}

.footer-top .overlay h2{color: var(--color_white); line-height: var(--line_height_58); font-size: var(--text_size_50);}
.footer-top .background-image-container {
    position: relative;
    overflow: hidden;
}
.footer-top .background-image-container img {
    width: 100%;
    height: auto;
    display: block;
}
.footer-top .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}
.footer-top .footer-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-top .overlay .subscriber-form input{
    flex: 1;
    padding: 20px 20px;
    outline: none;
    border: none;
    width: 660px;
    font-size: var(--text_size_18);
}

.footer-bottom .text-footer{font-family: var(--font_secondary); font-size: var(--text_size_16); line-height: var(--line_height_29);}

.footer-column a {
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {

    padding: var(--spacing_32) 0;
    color: var(--text_color_grey);
}

.footer-columns {
    gap: var(--spacing_32);
    flex-wrap: wrap;
}

.footer-column {
    width: 100%;
    max-width: 220px;
}

.footer-column h3 {
    color: var(--color_light_black);
    font-family: var(--font_secondary);
}

.footer-column ul li {
    margin-bottom: var(--spacing_8);
}

.footer-column ul li a {
    color: var(--text_color_grey);
    transition: var(--transition_medium);
}

.footer-column ul li a:hover {
    color: var(--color_light_orange);
}

.footer-copyright {

    padding: var(--spacing_16) 0;
    color: var(--text_color_grey);
    border-top: 1px solid var(--color_light_grey);
}

.flex-unwrap{
    flex-wrap: nowrap;
}